@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 36 100% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46.1%;
    --accent: 16 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 36 100% 60%;
    --radius: 0.5rem;
    --chart-1: 36 100% 60%;
    --chart-2: 16 70% 62%;
    --chart-3: 231 19% 30%;
    --chart-4: 220 13% 60%;
    --chart-5: 180 50% 50%;
    --sidebar-background: 231 19% 30%;
    --sidebar-foreground: 53 43% 91%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 36 100% 60%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 231 19% 40%;
    --sidebar-ring: 36 100% 60%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 36 100% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 16 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 16 70% 62%;
    --chart-3: 231 19% 40%;
    --chart-4: 220 13% 70%;
    --chart-5: 180 50% 60%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 53 43% 91%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 36 100% 60%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 18%;
    --sidebar-ring: 36 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
